/* src/app/vista/vistal.component.scss */
.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Ajustamos el espacio entre los contenedores */
    justify-content: center;
    padding-top: 100px; /* Espacio suficiente para que no se superpongan con el header */
  }
  
  .book-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    width: 200px; /* Ajustamos el ancho de los contenedores */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.2s;
    font-size: 0.9em;
    cursor: pointer;
    position: relative;
    height: 450px; /* Ajustamos la altura de los contenedores */
    overflow: hidden;
  }
  
  .book-container:hover {
    transform: scale(1.05);
  }
  
  .book-container h2 {
    font-size: 1em;
    margin: 5px 0;
  }
  
  .book-container p {
    margin: 5px 0;
  }
  
  .book-cover {
    width: 100%;
    height: 200px; /* Ajustamos la altura de la portada */
    object-fit: cover; /* Aseguramos que la imagen se ajuste bien dentro del contenedor */
    margin-bottom: 10px;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }
  
  button:hover {
    background-color: #0056b3;
  }