<header>
    <app-home></app-home>
  </header>
  
 <div class="header">
    <h1>Biblioteca UPS</h1>
    <p>¡Bienvenido a la Biblioteca de la Universidad Politécnica Salesiana (UPS)! Aquí encontrarás una amplia selección de libros y recursos para apoyar tu aprendizaje y tu investigación.</p>
</div>
  
<main>
    <div class="featured-books">
      <h2>Libros Destacados</h2>
      <ul>
        <li>Introducción a la Ingeniería de Sistemas - John Smith</li>
        <li>Fundamentos de Programación - María Pérez</li>
        <li>Electrónica Básica - David González</li>
      </ul>
    </div>
  
    <div class="event-list">
      <h2>Próximos Eventos</h2>
      <ul>
        <li>Presentación de Libro: "Inteligencia Artificial Avanzada" - 20 de mayo a las 17:00</li>
        <li>Charla sobre Investigación en Tecnología - 25 de mayo a las 16:00</li>
      </ul>
    </div>
  
    <div class="gif-container">
        
      <img src="/src/app/pages/images/book-15.gif" alt="Gif">
    </div>
  </main>