<header>
  <app-home></app-home>
</header>




<div class="book-container">
  
<h2 class="eliminar-libros-title">Eliminar Libros</h2>
  

  <ul class="book-list">
    @for (book of task; track task) {
      <li class="book-item">
        <strong>Titulo:</strong> {{book.title}} ::
        <span><strong>Descripcion:</strong> {{book.description}}</span> ::
        <br>
        <span><strong>Publicacion:</strong> {{book.publisher}}</span>
        <br><br>
        <button (click)="borrar(book.id)" class="delete-button">Borrar</button>
      </li>
    }
  </ul>
</div>


 