<header>
  <app-home></app-home>
</header>



<div class="book-container">
  
<h2 class="eliminar-libros-title">Eliminar Libros</h2>
  <ul class="book-list">
    @for (book of task; track book.id) {
      <li class="book-item">
        <strong>Titulo:</strong> {{book.title}} ::
        <span><strong>Genero:</strong> {{book.Genero}}</span> ::
        <span><strong>Autor:</strong> {{book.Autor}}</span>
        <br>
        <span><strong>Descripcion:</strong> {{book.Descripcion}}</span>
        <br><br>
        <button (click)="borrar(book.id)" class="delete-button">Borrar</button>
      </li>
    }
  </ul>
</div>