<div class="contenedor">
    <div class="tarjeta">
      <h2 class="centrar-texto mb-4">Editar Libro</h2>
      <form>
        <div class="grupo-form mb-3">
          <label for="editar-titulo">Título:</label>
          <input type="text" class="campo-formulario" id="editar-titulo" placeholder="Ingrese el nuevo título del libro">
        </div>
        <div class="grupo-form mb-3">
          <label for="editar-autor">Autor:</label>
          <input type="text" class="campo-formulario" id="editar-autor" placeholder="Ingrese el nuevo nombre del autor">
        </div>
        <div class="grupo-form mb-3">
          <label for="editar-genero">Género:</label>
          <input type="text" class="campo-formulario" id="editar-genero" placeholder="Ingrese el nuevo género del libro">
        </div>
        <div class="grupo-form mb-4">
          <label for="editar-descripcion">Descripción:</label>
          <textarea class="campo-formulario" id="editar-descripcion" rows="3" placeholder="Ingrese una nueva descripción del libro"></textarea>
        </div>
        <button type="submit" class="btn-primario">Guardar Cambios</button>
      </form>
    </div>
  </div>