.contenedor {
  width: 500px;
  margin: 0 auto;
  padding: 1em;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.tarjeta {
  background-color: #ffffff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 450px;
}

.centrar-texto {
  text-align: center;
}

.grupo-form {
  margin-bottom: 1em;
}

.campo-formulario {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 0.5em;
}

.btn-primario {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
}

.btn-primario:hover {
  background-color: #0056b3;
}
.btn-recargar {
  position: fixed; /* Posición fija */
  top: 10%; /* Ajusta la posición vertical */
  right: 2%; /* Ajusta la posición horizontal */
  background-color: #28a745;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-recargar:hover {
  background-color: #218838; /* Color de fondo al pasar el ratón */
}